.profile__edit-button_aim_info {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-color: #000;
  background-image: url(../../../../images/edit.svg);
  grid-area: edit;
}

@media (max-width: 700px) {
  .profile__edit-button_aim_info {
    width: 18px;
    height: 18px;
  }
}
